<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="dns-prefetch" href="https://a.ceilidhandgavin.com/">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">

    <title>Ceilidh &amp; Gavin - Wedding 12th June 2021</title>
    <meta name="description" content="Celebrate Ceilidh & Gavin's special day on the 12th of June 2021"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ preload(asset('css/bootstrap.min.css'), { as: 'style' }) }}">
    <link rel="stylesheet" href="{{ preload(asset('css/theme.css'), { as: 'style' }) }}">
    <link rel="stylesheet" href="{{ preload(asset('css/custom.css'), { as: 'style' }) }}">

    <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}">

    <link rel="apple-touch-icon" href="{{ asset('img/apple-touch-icon-iphone-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('img/apple-touch-icon-ipad-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('img/apple-touch-icon-iphone-retina-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('img/apple-touch-icon-ipad-retina-152x152.png') }}">

    <meta name="robots" content="index, follow">

    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700%7CLibre+Baskerville:400,400italic'
          rel='stylesheet' type='text/css' media="print" onload="this.media='all'">
</head>
<body>

{% if navigation_li_class is not defined %}
    {% set navigation_li_class = '' %}
{% endif %}

<div class="nav-container">
    <nav class="nav nav-1 {% block navigation_class %}transparent light{% endblock %}">
        <a href="/" class="logo">
            <span>Ceilidh &amp; Gavin</span>
        </a>
        <ul class="menu">
            <li><a href="{{ url('home') }}#home" class="{{ navigation_li_class }}" target="default">home</a></li>
            <li><a href="{{ url('home') }}#wedding" class="{{ navigation_li_class }}" target="default">wedding</a></li>
            <li><a href="{{ url('home') }}#location" class="{{ navigation_li_class }}" target="default">location</a></li>
            {#            <li><a href="#registry" class="inner-link" target="default">gifts</a></li>#}
            <li><a href="{{ url('home') }}#rsvp" class="{{ navigation_li_class }}" target="default">rsvp</a></li>
        </ul>
        <div class="mobile-toggle">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
        </div>
    </nav>

</div>

<div class="main-container">
    {% block main %}{% endblock %}
</div>

<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/TweenMax.min.js') }}" async></script>
<script src="{{ asset('js/ScrollToPlugin.min.js') }}" async></script>
<script src="{{ asset('js/smooth-scroll.min.js') }}"></script>
{#    <script src="{{ asset('js/placeholders.min.js') }}" async></script>#}
<script src="{{ asset('js/scripts.js') }}" async></script>
<script src="{{ asset('js/bootstrap.min.js') }}" async></script>

</body>
</html>

