<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="dns-prefetch" href="https://a.ceilidhandgavin.com/">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">

    <title>Ceilidh &amp; Gavin - Wedding 12th June 2021</title>
    <meta name="description" content="Celebrate Ceilidh & Gavin's special day on the 12th of June 2021"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ preload(asset('css/bootstrap.min.css'), { as: 'style' }) }}">
    <link rel="stylesheet" href="{{ preload(asset('css/theme.css'), { as: 'style' }) }}">
    <link rel="stylesheet" href="{{ preload(asset('css/custom.css'), { as: 'style' }) }}">

    <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}">

    <link rel="apple-touch-icon" href="{{ asset('img/apple-touch-icon-iphone-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('img/apple-touch-icon-ipad-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('img/apple-touch-icon-iphone-retina-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('img/apple-touch-icon-ipad-retina-152x152.png') }}">

    <meta name="robots" content="index, follow">

    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700%7CLibre+Baskerville:400,400italic'
          rel='stylesheet' type='text/css' media="print" onload="this.media='all'">
</head>
<body>

{% if navigation_li_class is not defined %}
    {% set navigation_li_class = '' %}
{% endif %}

<div class="nav-container">
    <nav class="nav nav-1 {% block navigation_class %}transparent light{% endblock %}">
        <a href="/" class="logo">
            <span>Ceilidh &amp; Gavin</span>
        </a>
        <ul class="menu">
            <li><a href="{{ url('home') }}#home" class="{{ navigation_li_class }}">home</a></li>
            <li><a href="{{ url('home') }}#wedding" class="{{ navigation_li_class }}">wedding</a></li>
            <li><a href="{{ url('home') }}#location" class="{{ navigation_li_class }}">location</a></li>
            {#            <li><a href="#registry" class="inner-link" target="default">gifts</a></li>#}
            <li><a href="{{ url('home') }}#rsvp" class="{{ navigation_li_class }}">rsvp</a></li>
        </ul>
        <div class="mobile-toggle">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
        </div>
    </nav>

</div>

<div class="main-container">
    {% block main %}{% endblock %}
</div>

<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/TweenMax.min.js') }}" async></script>
<script src="{{ asset('js/ScrollToPlugin.min.js') }}" async></script>
<script src="{{ asset('js/smooth-scroll.min.js') }}"></script>
{#    <script src="{{ asset('js/placeholders.min.js') }}" async></script>#}
<script src="{{ asset('js/scripts.js') }}" async></script>
<script src="{{ asset('js/bootstrap.min.js') }}" async></script>

{#{% if app.environment == 'prod' %}#}
{#<script>#}
{#    (function(a,b,c){var d=a.history,e=document,f=navigator||{},g=localStorage,#}
{#        h=encodeURIComponent,i=d.pushState,k=function(){return Math.random().toString(36)},#}
{#        l=function(){return g.cid||(g.cid=k()),g.cid},m=function(r){var s=[];for(var t in r)#}
{#            r.hasOwnProperty(t)&&void 0!==r[t]&&s.push(h(t)+"="+h(r[t]));return s.join("&")},#}
{#        n=function(r,s,t,u,v,w,x){var z="https://www.google-analytics.com/collect",#}
{#            A=m({v:"1",ds:"web",aip:c.anonymizeIp?1:void 0,tid:b,cid:l(),t:r||"pageview",#}
{#                sd:c.colorDepth&&screen.colorDepth?screen.colorDepth+"-bits":void 0,dr:e.referrer||#}
{#                    void 0,dt:e.title,dl:e.location.origin+e.location.pathname+e.location.search,ul:c.language?#}
{#                    (f.language||"").toLowerCase():void 0,de:c.characterSet?e.characterSet:void 0,#}
{#                sr:c.screenSize?(a.screen||{}).width+"x"+(a.screen||{}).height:void 0,vp:c.screenSize&&#}
{#                a.visualViewport?(a.visualViewport||{}).width+"x"+(a.visualViewport||{}).height:void 0,#}
{#                ec:s||void 0,ea:t||void 0,el:u||void 0,ev:v||void 0,exd:w||void 0,exf:"undefined"!=typeof x&&#}
{#                !1==!!x?0:void 0});if(f.sendBeacon)f.sendBeacon(z,A);else{var y=new XMLHttpRequest;#}
{#            y.open("POST",z,!0),y.send(A)}};d.pushState=function(r){return"function"==typeof d.onpushstate&&#}
{#    d.onpushstate({state:r}),setTimeout(n,c.delay||10),i.apply(d,arguments)},n(),#}
{#        a.ma={trackEvent:function o(r,s,t,u){return n("event",r,s,t,u)},#}
{#            trackException:function q(r,s){return n("exception",null,null,null,null,r,s)}}})#}
{#    (window,"G-7M4L255F0Z",{anonymizeIp:true,colorDepth:true,characterSet:true,screenSize:true,language:true});#}
{#</script>#}
{#{% endif %}#}

{% if app.environment == 'prod' %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7M4L255F0Z"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-7M4L255F0Z');
</script>
{% endif %}

</body>
</html>

